*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

:root {
	--Focused-link-color: #4d5ae5;
	--button-active-color: #404bbf;
	--Headings-color: #2e2f42;
	--Success-messages-color: #31d0aa;
	--Body-text-color: #434455;
	--Helper-text-color: #8e8f99;
	--Subtle-backgrounds-color: #e7e9fc;
	--backgrounds-Light-color: #f4f4fd;
	--bg-white-color: #ffffff;
	--card-set-gap: 24px;
}

/* ============== param ============ */

body {
	background-color: var(--bg-white-color);
	color: var(--Body-text-color);
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.link {
	text-decoration: none;
}

.title {
	color: var(--Headings-color);
	font-weight: 500;
	letter-spacing: 0.02em;
}

.conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 1158px;
	padding: 0 15px 0 15px;
	margin: auto;
	padding: auto;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.logo {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

/* ==================== header ==================== */

.header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.conteiner > .logo {
	color: var(--Headings-color);
	margin-right: 77px;
	padding: 24px 0;
}

.prymary-brand {
	color: var(--Focused-link-color);
}

.main-nav {
	margin-right: auto;
}

.site-nav .nav-list + .nav-list {
	margin-left: 40px;
}

.nav-link {
	color: var(--Headings-color);
	font-weight: 700;
	padding: 24px 0;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--Body-text-color);
}

.nav-link:active {
	color: var(--Focused-link-color);
}

.current {
	color: var(--Focused-link-color);
}

/* ===== contacts=====  */

.contacts-list {
	padding: 24px 0;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.contacts .contacts-list + .contacts-list {
	margin-left: 40px;
}

.contacts-link {
	color: var(--Body-text-color);
	padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--Focused-link-color);
}

.contacts-link:active {
	color: var(--Focused-link-color);
}

/*=========================== hero ===================== */

.hero {
	padding: 192px 0;
	background-color: var(--Headings-color);
}

.hero .title {
	text-align: center;
	color: var(--bg-white-color);
	font-size: 56px;
	line-height: 1.07;
	margin: 0 auto;
	width: 496px;
	margin-bottom: 48px;
}

.button-order {
	display: block;
	background-color: var(--Focused-link-color);
	color: var(--bg-white-color);
	font-family: inherit;
	font-weight: 500;
	line-height: 1.19;
	letter-spacing: 0.04em;
	margin: 0 auto;
	cursor: pointer;
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px #00000026;

	padding: 16px 32px;
}

.button-order:hover,
.button-order:focus {
	background-color: var(--Focused-link-color);
}

.button-order:active {
	background-color: var(--button-active-color);
}

/* ===== section-feature ===== */

.list-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}

.section-feature {
	padding: 120px 0 120px 0;
}

.feature-list {
	margin-left: calc(-1 * var(--card-set-gap));
}

.feature-list > .item {
	flex-basis: calc(100% / 4 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
}

/* ===== section specialization ===== */

.section.specialization {
	padding-bottom: 120px;
}

.specialization-title {
	margin: 0 auto;
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.specialization-list {
	margin-left: calc(-1 * var(--card-set-gap));
}

.specialization-list > .item {
	flex-basis: calc(100% / 3 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
}

/* ===== section our team ===== */

.section.team {
	background-color: var(--backgrounds-Light-color);
	padding-top: 120px;
	padding-bottom: 120px;
}

.team-title {
	margin: 0 auto;
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.team-list {
	margin-left: calc(-1 * var(--card-set-gap));
}

.team-list > .card {
	background-color: var(--bg-white-color);
	text-align: center;

	flex-basis: calc(100% / 4 - var(--card-set-gap));
	margin-left: var(--card-set-gap);
}

.card-content {
	padding: 32px 16px;
}

.card-title {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}

/* ================ footer ============= */

.footer {
	background-color: var(--Headings-color);
	padding: 100px 0;
}

.summary {
	color: var(--Subtle-backgrounds-color);
	width: 264px;
}

.footer .logo {
	color: var(--backgrounds-Light-color);
	display: block;
	margin-bottom: 16px;
}

/* =================== portfolio ==================== */

.section.portfolio {
	padding-top: 96px;
	padding-bottom: 120px;
}

/* ===== portfolio filter ===== */

.filter-nav {
	justify-content: center;
	margin: auto;
	margin-bottom: 72px;
}

.filter-nav .filter-nav-btn + .filter-nav-btn {
	margin-left: 24px;
}

.butoon-filter {
	background-color: var(--backgrounds-Light-color);
	color: var(--Focused-link-color);
	font-family: inherit;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.04em;

	border: 1px solid var(--Subtle-backgrounds-color);
	border-radius: 4px;
	cursor: pointer;

	padding: 12px 24px;
}

.butoon-filter:hover,
.butoon-filter:focus {
	background-color: var(--Focused-link-color);
	color: var(--bg-white-color);
}

.butoon-filter:active {
	background-color: var(--Focused-link-color);
	color: var(--bg-white-color);
}

/* ===== portfolio list ===== */

.portfolio-list {
	margin-bottom: calc(-1 * var(--card-set-gap));
	margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio-list > .item {
	flex-basis: calc(100% / 3 - 2 var(--card-set-gap));

	margin-bottom: var(--card-set-gap);
	margin-left: var(--card-set-gap);
}

.list-content {
	padding: 32px 16px;
	border: 0.5px solid var(--backgrounds-Light-color);
	border-top: none;
}

.portfolio-title {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}
